{% extends 'main/base.html' %}

{% block title %}
     Главная
{% endblock %}

{% block body %}
<div class="alert alert-success">
        <h1>🖤Добро пожаловать на страницу альпинистского клуба!🖤</h1>
    </div>
    <form class="form-inline my-2 my-lg-0 " action="{% url 'main_url'%}" style="text-align: right; float: right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div>    <h1>Создать клиента:</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.surname }}<br>
            {{ form.email }}<br>
            {{ form.date_birth }} <br>
                <button type="submit" class="btn btn-success">Create</button>
            <span>{{ error }}</span>
    </form></div>
    <div>
        <table class="table table-dark">
          <thead>
            <tr>
                <th scope="col"><h5><a href="?order_by=name&dir={{ url_dir }}" class="badge" style="text-decoration: none;">Имя</a></h5></th>
                <th scope="col"><h5><a href="?order_by=surname&dir={{ url_dir }}" class="badge" style="text-decoration: none;">Фамилия</a></h5></th>
                <th scope="col"><h5><a href="?order_by=email&dir={{ url_dir }}" class="badge" style="text-decoration: none;">Email</a></h5></th>
                <th scope="col"><h5><a href="?order_by=date_birth&dir={{ url_dir }}" class="badge" style="text-decoration: none; ">Дата рождения</a></h5></th>
                <th scope="col"><h5><a class="badge" style="text-decoration: none; pointer-events: none;" >Edit</a></h5></th>
                <th scope="col"><h5><a class="badge" style="text-decoration: none; pointer-events: none;" >Is_active - false</a></h5></th>
            </tr>
          </thead>
          <tbody>
          {% for client in page_obj %}
            <tr>
              <td><a href="{% url 'definite_client_url' client.id %}" class="badge" style="text-decoration: none;">{{ client.name }}</a></td>
              <td>{{ client.surname }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.date_birth }}</td>
              <td><form method="POST" action="{% url 'client_update_url' client.id %}">
                  {% csrf_token %}
                  <i class="fa fa-pencil-square-o" aria-hidden="true">
                  <button class="btn btn-warning" >Edit!</button>
                  </i></form></td>
              <td><form method="POST" action="{% url 'client_is_not_active_url' client.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" >Delete!</button>
              </form></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% if page_obj.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination">
      {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">&laquo</a>
      </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
      {% endif %}

          {% for p in paginator.page_range %}
              {% if page_obj.number == p %}
                  <li class="page-item disabled"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
              {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                  <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
              {% endif %}
          {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo</a>
        </li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}

